button {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  background-color: #dddddd;
}

.mobile {
  text-align: center;
}
.mobile button {
  display: inline-block;
  width: 30%;
  margin: 2px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid;
}

.single-window-controls {
  display: inline-block;
  width: 200px;

  button {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 10px;
  }
}
.single-window-select {
  display: inline-block;
  width: 150px;

  button.selected {
    background-color: green;
  }
}
